<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Travelats - Konfirmasi Email</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
<div id="halamantext">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5">
				<ul>
					<li><a href="#">Pemesanan Tiket</a></li>
					<li><a href="penumpang-jadwal-keberangkatan.html">Jadwal</a></li>
					<li><a href="penumpang-beranda.html">Beranda</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="contentkonfirm-regis-email">
	<div class="container-fluid">
		<div class="row">
		<h1>Konfirmasi Penerimaan Email</h1>
		<h2>Kami telah mengirim Anda email ke alamat email yang Anda masukkan.</h2>
		<p>Silahkan klik URL yang sudah tersedia di dalam email yang telah kami kirimkan
			untuk melanjutkan registrasi.</p>
		<p>Registrasi tidak akan selesai jika anda
			berhenti sekarang.</p>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<p class="copyright">©copyright 2016</p>
			</div>	
		</div>
	</div>
</div>
</body>
</html>