.center{
	width: 1220px;
	margin: 0 auto;
}
#halamantext{
	background-color: #3d031a;
	background-size: cover;
}
#halamantext h2{
	color: white;
}
#halamantext ul{
	padding-right: 50px;
}
#halamantext ul li{
	font-size: 18px;
	color: white;
	margin-right: 10px;
	float: right;
	padding-right: 30px;
	padding-left: 10px;
	padding-top: 26px;
	padding-bottom: 28px;
	display: inline-block;
}
#halamantext a{
	color: white;
}
#header{
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #000000;
	color: white;
}
#content{
	min-height: 550px;
	background-color: #ffffff;
}
#contentlogin{
	min-height: 550px;
	padding-top: 70px;
	background-color: #621433;
}
#contentlogin h1{
	color: white;
	padding-bottom: 20px;
}
#contentlogin h2{
	text-align: center;
	color: white;
	padding-bottom: 20px;
}
#contentlogin label{
	color: white;
}
#content-login2{
	min-height: 505px;
	background-color: #621433;
}
#content-login2 h2{
	margin-top: 70px;
	margin-bottom: 30px;
}
#content-login2 label{
	color: white;
}
#content-login2 h2{
	color: white;
}
#pilihan-user{
	margin-top: 7px;
}
#pilihan-user option{
	color: black;
}
#content p{
	font-size: 18px;
	text-align: center;
}
#contentregistrasi{
	color: white;
	padding-top: 20px;
	background-color: #621433;
	min-height: 550px;
	padding-bottom: 40px;
}
#contentregistrasi label{
	text-align: left;
}
#contentregistrasi h1{
	padding-bottom: 20px;
}
#contentkonfirm-regis-email{
	min-height: 550px;
	background-color: #621433;
	color: white;
	text-align: center;
}
#contentkonfirm-regis{
	min-height: 550px;
	background-color: #621433;
	color: white;
	padding-top: 20px;
}
#contentkonfirm-regis h3{
	text-align: left;
}
#contentkonfirm-regis table{
	margin-top: 20px;
}
#contentkonfirm-regis td{
	font-size: 20px;
	padding-bottom: 18px;
	padding-right: 25px;
	text-align: left;
}
#contentkonfirm-regis button{
	margin-top: 20px;
}
#contentregis-selesai{
	min-height: 550px;
	background-color: #621433;
	color: white;
	padding-top: 20px;
	text-align: center;
}
#contentregis-selesai button{
	margin-top: 20px;
}
#content h1{
	text-align: center;
}
#content-sidemenu{
	min-height: 550px;
}
#sidemenu{
	padding-top: 10px;
	background-color: #621433;
	min-height: 640px;
}
#sidemenu a{
	font-size: 18px;
	color: #FEC606;
}
#profil{
	padding-top: 10px;
	padding-left: 40px;
	font-size: 20px;
}
#profil h1{
	margin-bottom: 20px;
}
#tabel-penumpang th{
	text-align: center;
}
#tabel-penumpang td{
	text-align: center;
}
#history-pemesanan-penumpang{
	padding-top: 10px;
	padding-left: 40px;
	font-size: 20px;
}
#history-pemesanan-penumpang h1{
	margin-bottom: 20px;
}
#history-pemesanan-penumpang th{
	text-align: center;
}
#history-pemesanan-penumpang td{
	text-align: center;
}
#content table{
	margin-top: 20px;
	font-size: 18px;
}
#content th{
	text-align: center;
}
#content td{
	text-align: center;
}
#content img{
	margin-left: 550px;
}
#content-pemesanan-rute{
	padding-top: 30px;
	text-align: center;
	min-height: 250px;
}
#content-pemesanan-rute h1{
	font-weight: bold;
}
#content-pemesanan-rute .rute{
	font-size: 16px;
}
#content-pemesanan-rute button{
	margin-top: 20px;
}
#content-pemesanan-waktu-dan-tiket1{
	text-align: center;
	padding-top: 30px;
	min-height: 470px;
}
#content-pemesanan-waktu-dan-tiket1 .waktu{
	margin-bottom: 60px;
}
#content-pemesanan-waktu-dan-tiket1 h1{
	font-weight: bold;
}
#content-pemesanan-waktu-dan-tiket1 p{
	font-size: 18px;
}
#content-pemesanan-waktu-dan-tiket1 button{
	margin-top: 20px;
}
#content-pemesanan-kursi{
	min-height: 550px;
	font-size: 18px;
}
#content-pemesanan-kursi td{
	padding-right: 20px;
}
#content-pemesanan-kursi table{
	margin-top: 20px;
	margin-bottom: 20px;
}
#pemesanan-kursi td{
	padding-right: 20px;
}
#pemesanan-kursi table{
	margin-bottom: 20px;
}
#content-konfirm-pemesanan{
	min-height: 550px;
}
#content-konfirm-pemesanan table{
	margin-top: 20px;
}
#content-konfirm-pemesanan h1{
	font-weight: bold;
}
#content-konfirm-pemesanan td{
	padding-right: 30px;
	font-size: 20px;
	padding-bottom: 18px;
}
#content-konfirm-pemesanan button{
	margin-top: 20px;
}
#pilihan-transfer{
	margin-top: 130px;
}
#content-transfer{
	min-height: 550px;
}
#content-transfer h1{
	text-align: center;
}
#content-transfer p{
	text-align: center;
	font-size: 18px;
}
#rekening{
	margin-top: 90px;
	font-size: 20px;
	text-align: left;
}
#rekening td{
	padding-bottom: 20px;
	padding-right: 30px;
}
#bukti-transfer{
	margin-top: 80px;
	text-align: center;
}
#bukti-transfer div{
	margin-bottom: 40px;
}
#content-supir{
	padding-top: 10px;
	padding-left: 40px;
	font-size: 18px;
}
#content-supir th{
	text-align: center;
}
#content-supir td{
	text-align: center;
}
#content-tabel{
	padding-top: 10px;
	padding-left: 40px;
	font-size: 15px;
}
#content-tabel th{
	text-align: center;
}
#content-tabel td{
	text-align: center;
}
#content-tabel table button{
	margin-left: 5px;
	margin-right: 5px;
}
#content-manajer{
	padding-top: 10px;
	padding-left: 40px;
	font-size: 18px;
}
#content-manajer th{
	text-align: center;
}
#content-manajer td{
	text-align: center;
}
#content-manajer table{
	margin-top: 20px;
}
table button{
	margin-right: 10px;
	margin-left: 10px;
}
table{
	margin-bottom: 30px;
}
#beranda a {
	text-decoration: none;
}
#beranda img{
	margin-top: 120px;
	margin-left: 420px;
}
#edit{
	padding-top: 10px;
	padding-left: 40px;
	font-size: 15px;
}
#edit h1{
	margin-bottom: 20px;
}
#edit label{
	text-align: left;
}
#edit2{
	padding-top: 10px;
	padding-left: 8px;
	font-size: 18px;
}
#edit2 h1{
	margin-bottom: 20px;
}
#edit2 label{
	text-align: left;
}
#footer{
	background-color: #000000;
	padding-top: 16px;
	padding-bottom: 18px;
}
.copyright{
	padding-top: 10px;
	padding-right: 10px;
	color: white;
	text-align: center;
}