<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Travelats - Edit Operator</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
<div class="header">
	<div class="center">
		<div id="logo">
			<img src="image/Header.png">
		</div>
	</div>
</div>
<div id="halamantext">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-offset-1 col-lg-4">
				<h2>Kelola Operator</h2>
			</div>
			<div class="col-lg-7">
				<ul>
					<li><a href="operator-login.html">Log Out</a></li>
					<li><a href="operator-profil.html">Profil</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="content-sidemenu">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-2" id="sidemenu">
			<ul class="nav nav-pills nav-stacked" role="tablist">
				<li><a href="operator-beranda.html"> Beranda</a></li>
				<li><a href="operator-kelola-jadwal.html"> Kelola Jadwal</a></li>
				<li><a href="operator-kelola-manajer.html"> Kelola Manajer</a></li>
				<li><a href="operator-kelola-supir.html"> Kelola Supir</a></li>
				<li><a href="operator-kelola-kursi.html"> Kelola Kursi</a></li>
				<li><a href="operator-kelola-rute.html"> Kelola Rute</a></li>
				<li><a href="operator-kelola-tarif.html"> Kelola Tarif</a></li>
				<li><a href="operator-kelola-operator.html"> Kelola Operator</a></li>
				<li><a href="operator-kelola-bis.html"> Kelola Bis</a></li>
				<li><a href="operator-kelola-penumpang.html"> Kelola Penumpang</a></li>
			</ul>				
		</div>
		<div class="col-md-6" id="edit">
			<h1>Edit Data Operator Bis ATS</h1>
			<form class="form-horizontal">
					  <div class="form-group">
					    <label for="inputNama1" class="col-sm-3 control-label">ID Operator</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="inputNama1" value="O234N">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputKTP1" class="col-sm-3 control-label">Nama</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="inputKTP1" value="Noval">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputTelp1" class="col-sm-3 control-label">No.KTP</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="inputTelp1" value="3345672290734553">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputKelamin1" class="col-sm-3 control-label">Jenis Kelamin</label>
					    <div class="col-sm-4">
					    <label class="radio-inline">
					      <input type="radio" name="optradio" value="1">Laki-laki
					    </label>
					    <label class="radio-inline">
					      <input type="radio" name="optradio" value="2">Perempuan
					    </label>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputRekening1" class="col-sm-3 control-label">No. Telp</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="inputRekening1" value="089824367722">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputAlamat1" class="col-sm-3 control-label">Alamat</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" id="inputAlamat1" value="Paris 2">
					    </div>
					  </div>
					   <div class="form-group">
					    <div class="col-sm-offset-10 col-sm-5">
					      <button type="button" class="btn btn-warning">Ubah</button>
					    </div>
					   </div>
					</form>
		</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<p class="copyright">©copyright 2016</p>
			</div>	
		</div>
	</div>
</div>
</body>
</html>